<h1>Usuario #<%="#{@user.id}"%> </h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Cédula:</strong>
  <%= @user.id_number %>
</p>

<p>
  <strong>Oficina:</strong>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Volver', users_path %>
