<h1>Lista de oficinas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Número de oficina</th>
      <th>Edificio</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @offices.each do |office| %>
      <tr>
        <td><%= office.id %></td>
        <td><%= office.office_number %></td>
        <td><%= office.department %></td>
        <td><%= link_to 'Mostrar', office %></td>
        <td><%= link_to 'Editar', edit_office_path(office) %></td>
        <td><%= link_to 'Borrar', office, method: :delete, data: { confirm: 'Está seguro de borrar esta oficina?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva oficina', new_office_path %>
