<h1>Oficina</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Número de oficina:</strong>
  <%= @office.office_number %>
</p>

<p>
  <strong>Edificio:</strong>
  <%= @office.department %>
</p>

<%= link_to 'Editar', edit_office_path(@office) %> |
<%= link_to 'Volver', offices_path %>
