<%= form_for @control do |f| %>
  <% if @control.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@control.errors.count, "error") %> prohibited this control from being saved:</h2>

      <ul>
      <% @control.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    <%= label :id_number, 'Cedula' %><br>
    <%= text_field_tag 'id_number', '' %>
  </div>
  <div class="field">
    <%= label :code_name, 'Codigo del equipo' %><br>
    <%= text_field_tag 'code_name', '' %>
  </div>

  <div class="actions">
    <%= f.submit "Crear/actualizar entrada" %>
  </div>
<% end %>
