<h1>Control de equipos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Usuario</th>
      <th>Equipo</th>
      <th>Préstamo</th>
      <th>Devolucion</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @controls.each do |control| %>
      <tr>
        <td><%= control.id %></td>
        <td><%= control.returned_at %></td>
        <td><%=  %></td>
        <td><%= control.created_at %></td>
        <td><%= control.returned_at %></td>
        <td><%= link_to 'Mostrar', control %></td>
        <td><%= link_to 'Editar', edit_control_path(control) %></td>
        <td><%= link_to 'Borrar', control, method: :delete, data: { confirm: 'Está seguro de borrar esta entrada?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Añadir entrada', new_control_path %>
