<h1>Control de equipos</h1>

<p id="notice"><%= notice %></p>

<div>  
     <strong>Equipo:</strong>
     <%= @equipment.device_name %><br><br>
     <strong>Usuario:</strong>
     <%= "#{@user.name}" %><br><br>
     <strong>Préstamo:</strong>
     <%= formatted_date(@control.created_at) %> <br><br>
     <strong>Devolución:</strong>
     <%= @control.returned_at %> <br><br>
  </p>
</div>

<%= link_to 'Editar', edit_control_path(@control) %> |
<%= link_to 'Volver', controls_path %>
