<h1>Lista de equipos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">Dispositivo</th>
      <th class="text-center">Código</th>
      <th class="text-center">Disponible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equip| %>
      <tr>
        <td align="center"><%= equip.device_name %></td>
        <td align="center"><%= equip.code_name %></td>
        <td align="center"><%= equip_status(equip.available) %></td>
        <td align="center"><%= link_to 'Mostrar', equip %></td>
        <td align="center"><%= link_to 'Editar', edit_equipment_path(equip) %></td>
        <td align="center"><%= link_to 'Borrar', equip, method: :delete, data: { confirm: 'Está seguro de borrar este equipo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Añadir equipo', new_equipment_path %>
