<h1>Lista de equipos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Dispositivo</th>
      <th>Código</th>
      <th>Disponible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.device_name %></td>
        <td><%= equipment.code_name %></td>
        <td><%= equipment.available %></td>
        <td><%= link_to 'Mostrar', equipment %></td>
        <td><%= link_to 'Editar', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Borrar', equipment, method: :delete, data: { confirm: 'Está seguro de borrar este equipo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Añadir equipo', new_equipment_path %>
