<p id="notice"><%= notice %></p>

<p>
  <strong>Device name:</strong>
  <%= @equipment.device_name %>
</p>

<p>
  <strong>Code name:</strong>
  <%= @equipment.code_name %>
</p>

<p>
  <strong>Available:</strong>
  <%= @equipment.available %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
