<h1>Equipo #<%="#{@equipment.id}"%></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Equipo:</strong>
  <%= @equipment.device_name %>
</p>

<p>
  <strong>Código:</strong>
  <%= @equipment.code_name %>
</p>

<p>
  <strong>Disponible:</strong>
  <%= @equipment.available %>
</p>

<%= link_to 'Editar', edit_equipment_path(@equipment) %> |
<%= link_to 'Volver', equipment_index_path %>
