<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "bodega", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Log in", '#' %></li>
      </ul>

      <ul class="nav navbar-nav pull-left">
        <li><%= link_to "Control", '#' %></li>
        <li><%= link_to "Usuarios", '#' %></li>
        <li><%= link_to "Equipos", '#' %></li>
        <li><%= link_to "Oficinas", '#' %></li>
      </ul>
    </nav>
  </div>
</header>